/backups
/crash-reports
/ct_dumps
/data
/defaultconfigs
/emi.json
/emojiful
/fancymenu_data
/immersive_paintings
/immersive_paintings_cache
irisUpdateInfo.json
/journeymap
/local
/logs
/moddata
/mods
/patchouli_books
/patchouli_data.json
/quests_structures
/replay_recordings
/resourcepacks
rhino.local.properties
/saves
/screenshots
/scripts
/server-resource-packs
/servers.dat
/servers.dat.bak
/servers.dat_old
/shaderpacks
/schematics
/usercache.json
/usernamecache.json
/VMod-Schematics
/xaero
/XaeroWaypoints_BACKUP*
*.luastatic.c
hs_err_pid*
/.fabric
/.mixin.out
/.replay_cache
